# Inroduction to Python

In [1]:
input()

Chintan

'Chintan'

In [2]:
input("Enter Name: ")

Enter Name: Chintan

'Chintan'

# Printing output

In [3]:
print("Tessa")

Tessa

In [4]:
print(8+9)

17

In [5]:
print(99)

99

In [6]:
print("Tessa", "Young")

Tessa Young

In [7]:
print("Tessa", "Young", sep="@")

Tessa@Young

# Variables and Naming Conventions

In [8]:
# var_name = value
open_time = 10
fname = input("First Name: ")
lname = input("Last Name: ")

First Name: CHintan
Last Name: Gehlot

In [9]:
print(fname)

CHintan

In [10]:
# we can't start a var name witha number or special character
1stname = "Tessa"

SyntaxError: invalid syntax (<ipython-input-10-138dbe10af20>, line 2)

In [11]:
# we can't use reserved keywords as var name
#print = "Tessa"
#print(10)

In [12]:
# we can't use  space in between var name
first name = "Tessa"

SyntaxError: invalid syntax (<ipython-input-12-905b16dac465>, line 2)

# Data Types

In [14]:
# boolean
is_married = False
is_hungry = True
print(type(is_hungry))

<class 'bool'>

In [15]:
# integer
age = 24
print(type(age))

<class 'int'>

In [16]:
# float
weight = 67.89
print(type(weight))

<class 'float'>

In [17]:
# complex
c = 2 + 5j
print(type(c))

<class 'complex'>

In [18]:
c.real

2.0

In [19]:
c.imag

5.0

In [20]:
# strings
name = "Tessa Young"
email = 'tessa@gmail.com'
print(type(name))
print(type(email))

<class 'str'>
<class 'str'>

In [21]:
print('Mc"sad')

Mc"sad

In [22]:
bin(5)

'0b101'

In [23]:
oct(5)

'0o5'

In [24]:
hex(5)

'0x5'

In [25]:
abs(-5)

5

In [26]:
len(name)

11

# String Indexing and Slicing

In [27]:
name = "tessa Young"

In [28]:
# indexing

name[-5]

'Y'

In [29]:
name[6]

'Y'

In [30]:
name[0]

't'

In [31]:
# slicing - name[start: stop: step]
name[6:9]

'You'

In [32]:

name[-5:-2]

'You'

In [33]:
name[::-1]

'gnuoY asset'

In [34]:
name[-3:-6:-1]

'uoY'

In [35]:
name[::2]

'tsaYug'

In [36]:
name[::-2]

'guYast'

# String Methods

In [37]:
# strings methods
email = 'tessa@gmail.com'
name = "tessa Young"

In [38]:

name.upper()

'TESSA YOUNG'

In [39]:
name.lower()

'tessa young'

In [40]:
name.capitalize()

'Tessa young'

In [41]:
name.title()

'Tessa Young'

In [42]:
name.find('You')

6

In [43]:
name.count('s')

2

In [44]:
name.replace("You", "Tou", )

'tessa Toung'

In [48]:
name.replace("s", "#",2)  # here 2 is the count of s you wanna chnage

'te##a Young'

In [49]:
email.split('@', )

['tessa', 'gmail.com']

In [50]:
'tessa@gmail@.com'.split('@', 1)

['tessa', 'gmail@.com']

# Concatenation

In [51]:
fname = 'Alley'
lname = "Smith"

In [52]:
# way - 1
fullname = fname + ' ' + lname
fullname

'Alley Smith'

In [53]:
# way - 2
mid = "Tan"
' '.join([fname, mid, lname])

'Alley Tan Smith'

# String Formatting

In [54]:
name = "Alley"
a = 24
w = 67.78

In [55]:
print("Name is ", name, ". Age is ", a, ". Weight is ", w)

Name is  Alley . Age is  24 . Weight is  67.78

In [57]:
print("Name is {0}. Age is {1}. Weight is {2}".format(name, a, w))

Name is Alley. Age is 24. Weight is 67.78

In [58]:
print("Name is %s. Age is %d. Weight is %.2f" %(name, a, w))

Name is Alley. Age is 24. Weight is 67.78

In [64]:
print(f"Name is {name} Age is {a}. Weight is {w: .1f}")

Name is Alley Age is 24. Weight is  67.8

# Data Structures

In [66]:
data = [3, 2, 6, 3, 8, 5, 9, 6, True, False]
type(data)

list

In [68]:
# indexing and slcing
data[::2]

[3, 6, 8, 9, True]

In [69]:
data[3] = 33
data

[3, 2, 6, 33, 8, 5, 9, 6, True, False]

In [70]:
data[1:3] = 22, 66
data

[3, 22, 66, 33, 8, 5, 9, 6, True, False]

In [72]:
# methods
data = [3, 2, 6, 3, 8, 5, 9, 6, True, False]

In [79]:

data.append(77)
data

[77, 77, 77, 77, 33, 33, 11, 11, 9, 8, 6, 6, 5, 3, 3, 2, True, False, 77]

In [81]:

data.insert(8, 88)
data

[77,
 77,
 77,
 77,
 33,
 33,
 11,
 11,
 88,
 88,
 9,
 8,
 6,
 6,
 5,
 3,
 3,
 2,
 True,
 False,
 77]

In [82]:

data.index(88)

8

In [84]:
data.extend([99, 11, 33])
data

[77,
 77,
 77,
 77,
 33,
 33,
 11,
 11,
 88,
 88,
 9,
 8,
 6,
 6,
 5,
 3,
 3,
 2,
 True,
 False,
 77,
 99,
 11,
 33,
 99,
 11,
 33]

In [85]:

data.count(6)

2

In [86]:
data.pop(8)

88

In [87]:
data

[77,
 77,
 77,
 77,
 33,
 33,
 11,
 11,
 88,
 9,
 8,
 6,
 6,
 5,
 3,
 3,
 2,
 True,
 False,
 77,
 99,
 11,
 33,
 99,
 11,
 33]

In [88]:
data.remove(99)

In [89]:
data

[77,
 77,
 77,
 77,
 33,
 33,
 11,
 11,
 88,
 9,
 8,
 6,
 6,
 5,
 3,
 3,
 2,
 True,
 False,
 77,
 11,
 33,
 99,
 11,
 33]

In [90]:
data.sort(reverse=True)
data

[99,
 88,
 77,
 77,
 77,
 77,
 77,
 33,
 33,
 33,
 33,
 11,
 11,
 11,
 11,
 9,
 8,
 6,
 6,
 5,
 3,
 3,
 2,
 True,
 False]

In [92]:
data.reverse()
data

[99,
 88,
 77,
 77,
 77,
 77,
 77,
 33,
 33,
 33,
 33,
 11,
 11,
 11,
 11,
 9,
 8,
 6,
 6,
 5,
 3,
 3,
 2,
 True,
 False]

# shallow vs deep copy

In [93]:
# shallow copy
data1 = [2,3,4]
copy = data1
copy.append(99)
copy

[2, 3, 4, 99]

In [94]:
data1

[2, 3, 4, 99]

In [95]:
# deep copy
data1 = [2,3,4]
copy = data1.copy()
copy.append(88)
copy

[2, 3, 4, 88]

In [96]:
data1

[2, 3, 4]

In [97]:
data1.clear()
data1

[]

In [101]:
del data1   #for permanently delete the instance

NameError: name 'data1' is not defined

# Tuple()

In [102]:
t = (2,3,4)

In [103]:
type(t)

tuple

In [104]:
t[2] = 44

TypeError: 'tuple' object does not support item assignment

In [105]:
t2 = (2,3,5)
l1 = list(t2)
l1

[2, 3, 5]

In [106]:
l1[2]

5

In [107]:
t1 = tuple(l1)
t1

(2, 3, 5)

# Set {}

In [108]:
s = {8, 2, 3, 4, 4, 5, 7, 5}
type(s)

set

In [109]:
s

{2, 3, 4, 5, 7, 8}

In [110]:
s[0]

TypeError: 'set' object is not subscriptable

In [112]:
# methods
s.add(-88) 
s

{-88, 2, 3, 4, 5, 7, 8}

In [113]:
s.remove(-88)
s

{2, 3, 4, 5, 7, 8}

In [117]:
s.discard(89)
s

{2, 3, 4, 5, 7, 8}

In [120]:
s.pop()
s

{5, 7, 8}

In [122]:
s.update({66,77})
s

{5, 7, 8, 66, 77}

In [123]:
s1 = {2, 7, 3, 8, 9}
s2 = {5, 4, 3, 9}
s1.union(s2)

{2, 3, 4, 5, 7, 8, 9}

In [124]:


s1.intersection(s2)

{3, 9}

In [125]:
s1.difference(s2)

{2, 7, 8}

In [126]:
s2.difference(s1)

{4, 5}

In [127]:
s1.symmetric_difference(s2)

{2, 4, 5, 7, 8}

In [128]:
s1.issubset(s2)

False

In [129]:
s2.issuperset(s1)

False

In [130]:
s1.isdisjoint(s2)

False

# Dictionary {}

In [131]:
data = {'roll': 24, 'name': 'Alley', 'dept': 'AI', 'age':24}
type(data)

dict

In [132]:
data

{'roll': 24, 'name': 'Alley', 'dept': 'AI', 'age': 24}

In [133]:
# access and update values
data['roll']
data['age'] = 25
data

{'roll': 24, 'name': 'Alley', 'dept': 'AI', 'age': 25}

In [135]:
data['age']

25

In [138]:
data.get('age')

25

In [139]:
data

{'roll': 24, 'name': 'Alley', 'dept': 'AI', 'age': 25}

In [140]:
# add values
data['subjects'] = 'ML'
data['subjects'] = ['ML', 'DS', 'Stats']
data

{'roll': 24,
 'name': 'Alley',
 'dept': 'AI',
 'age': 25,
 'subjects': ['ML', 'DS', 'Stats']}

In [142]:
# delete
del data['subjects']

In [143]:
data

{'roll': 24, 'name': 'Alley', 'dept': 'AI', 'age': 25}

In [146]:
#method 
data.keys()

dict_keys(['roll', 'name', 'dept', 'age'])

In [147]:
data.values()

dict_values([24, 'Alley', 'AI', 25])

In [148]:
data.items()

dict_items([('roll', 24), ('name', 'Alley'), ('dept', 'AI'), ('age', 25)])

In [150]:
data.popitem()
data

{'roll': 24, 'name': 'Alley'}

In [152]:
data.pop('roll')

24

In [153]:
data.fromkeys([31, 32, 33, 34], 'NA')

{31: 'NA', 32: 'NA', 33: 'NA', 34: 'NA'}

In [154]:
data

{'name': 'Alley'}

In [155]:
data.setdefault(31, 'NA')

'NA'

In [156]:
data

{'name': 'Alley', 31: 'NA'}

In [157]:
data.update({31: 'NA', 32: 'NA', 33: 'NA', 34: 'NA'})

In [158]:
data

{'name': 'Alley', 31: 'NA', 32: 'NA', 33: 'NA', 34: 'NA'}

In [159]:
data

{'name': 'Alley', 31: 'NA', 32: 'NA', 33: 'NA', 34: 'NA'}

# Task on input() and map()

In [160]:
# code hereqaa
a= int(input())
b=int(input())
print((a+b)/2)

12
13
12.5

# ###Extract Last Digit of a given number

In [164]:
num = 121

digit=str(num)[2:]
m=num%10


print(m)

1

# Take input a sequence of numbers
take sequence of numbers as input
input: 1 2 3 4 5
output: [1,2,3,4,5]
numbers should be in integer type

In [166]:
num=list(map(int, input("input numbers: ").split(' ')))


print(num)

input numbers: 1 2 3 4 5 6
[1, 2, 3, 4, 5, 6]

In [167]:
iop= list(map(len, input("Sales of Last 4 weeks: ").split(' ')))
iop

Sales of Last 4 weeks: wetgf iiiinkjbkejebf kibef

[5, 14, 5]

In [169]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# code here


print(max(num1,num2,num3))

Enter the first number: 23
Enter the second number: 456
Enter the third number: 6789
6789.0

In [170]:
account_balance = 80000
pin = "8679"
amount = float(input("Amount: "))

# code here

Amount: 2345

# Conditionals

In [174]:
age = 17
salary = 40000

if age >= 17:
    print("Eligible for Debit or Credit Card!")

Eligible for Debit or Credit Card!

In [175]:
age = 17
salary = 40000

if age >= 18:
    print("Eligible for Debit or Credit Card!")
else:
    print("Eligible for Green card")

Eligible for Green card

In [176]:
age = 19
salary = 20000

if (age >= 18) and (salary >= 40000):
    print("Eligible for Credit Card!")
elif (age >= 18):
    print("Eligible for Debit Card!")
else:
    print("Eligible for Green card")

Eligible for Debit Card!

# Nested If-elif-else

In [177]:
age = 19
salary = 20000

if (age >= 18):
    if (salary >= 40000):
        print("Eligible for Credit Card!")
    else:
        print("Eligible for Debit Card!")
else:
    print("Eligible for Green card")

Eligible for Debit Card!

# Ternary Operator

In [179]:
a, b = 45, 67
largest = None
if a > b:
    largset = a
else:
    largest = b
    
largest

67

In [180]:
a, b = 45, 67
largest = a if a > b else b
largest

67

In [181]:
x, y, z = 45, 63, 54
largest = x if (x > y and x > z) else (y if (y > x and y > z) else z)
largest

63

# Loops

In [182]:
# while loop

In [183]:
bucket_of_cookies = 6
already_ate = 0
max_limit = 5

while already_ate < 5:
    print("Eat cookie")
    already_ate += 1

Eat cookie
Eat cookie
Eat cookie
Eat cookie
Eat cookie

In [184]:
start = 5
stop = 1

while start >= stop:
    print(f"write {start}")
    start -= 1

write 5
write 4
write 3
write 2
write 1

# for Loop

In [185]:
nums = [1, 2, 3, 4, 5]

for num in nums:
    print(num)

1
2
3
4
5

In [186]:
nums = [1, 2, 3, 4, 5]

for _ in nums:
    print("Code")

Code
Code
Code
Code
Code

In [188]:
range(1, 10)

range(1, 10)

In [189]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [190]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [191]:
list(range(20, -1, -2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [192]:
for num in range(0, 20):
    print(num**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [193]:
t = (1,2,3,4)
for val in t:
    print(val)

1
2
3
4

In [194]:
s = {1, 2, 3, 4, 4}
for val in s:
    print(val)

1
2
3
4

In [195]:
data = {1: 1, 2: 4, 3: 9}
for val in data:
    print(val)

1
2
3

In [196]:
data = {1: 1, 2: 4, 3: 9}
for val in data.values():
    print(val)

1
4
9

In [197]:
data = {1: 1, 2: 4, 3: 9}
for key, val in data.items():
    print(key, val)

1 1
2 4
3 9

In [198]:
for a in "Python":
    print(a)

P
y
t
h
o
n

# break

In [199]:
fruits = ('Apple', 'banana', 'grapes', 'guava') 
for i in fruits:
    print("Searching")
    if i=='grapes':
        print('Found')
        break

Searching
Searching
Searching
Found

# continue

In [200]:
fruits = ('Apple', 'banana', 'grapes', 'guava')
for fruit in fruits:
    print('searching...')
    if fruit == "grapes":
        continue
    print(fruit)

searching...
Apple
searching...
banana
searching...
searching...
guava

# Pass

In [201]:
num = 6
if num == 5:
    pass
else:
    print(num**3)

216

# List Comprehension